.sidebar {
    padding: 2em;
    flex: 1;
}
  
.sidebar ul li a {
    color: #00acee;
    font-size: 19px;
    font-weight: bold;
    padding: .4em 0;
    display: block;
}
  
.sidebar-text {
    margin-top: 30px;
}
  
.sidebar-text p {
    margin-top:10px;
    margin-bottom: 0;
}
.menu-btn {
    display: block;
    max-width: 170px;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: center;
    height: auto;
    padding: 8px 20px 8px 20px;
    margin: 20px auto;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #00acee;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
