* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

p {
  color: #543729;
  margin-bottom: 1em;
}

ul li {
  list-style: none;
}

h4 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #008ec4;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.visible-xs {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .text-container {
    align-items: center;
    margin-left: 0;
  }

  .page-title, .page-subtitle {
    text-align: center;
  }

  .logo {
    margin-right: 0;    
  }

  .hidden-xs {
    display: none !important;
  }

  .visible-xs {
    display: block !important;
  }
}
